main/8O8uy0fW8H3oQJY0.json
{
  "active": false,
  "connections": {
    "Verificar se tem nota geral1": {
      "main": [
        [
          {
            "node": "Combina todos os Parametros",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gerar Corpo Consolidado do Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mails enviados": {
      "main": [
        [
          {
            "node": "Gmail parametro 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parâmetro 2: Taxa de Conversão dos Atendimentos do Canal Smart (chatbot)": {
      "main": [
        [
          {
            "node": "Normaliar Nome Conversão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parâmetro 1: Nota Média de Avaliação dos Atendimentos": {
      "main": [
        [
          {
            "node": "Normaliar Nome Vendedor Avaliação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parametro 3 Número de Cards Outbound": {
      "main": [
        [
          {
            "node": "Normaliar Nome Vendedor Leads Quentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Parametro 2 e 3": {
      "main": [
        [
          {
            "node": "Unir Parametro 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Parametro 5": {
      "main": [
        [
          {
            "node": "Combina todos os Parametros",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normaliar Nome Vendedor Avaliação": {
      "main": [
        [
          {
            "node": "Verificar se tem nota geral1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliar Nome Conversão": {
      "main": [
        [
          {
            "node": "Unir Parametro 2 e 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Criar coprpo e assunto e-mail Parâmetro 2: Taxa de Conversão dos Atendimentos do Canal Smart (chatbot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliar Nome Vendedor Leads Quentes": {
      "main": [
        [
          {
            "node": "Criar o corpo e assunto do e-mail para o Parâmetro 3 (Cards Outbound)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unir Parametro 2 e 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combina todos os Parametros": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar o corpo e assunto do e-mail para o Parâmetro 3 (Cards Outbound)": {
      "main": [
        [
          {
            "node": "E-mails enviados parametro 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mails enviados parametro 3": {
      "main": [
        [
          {
            "node": "Gmail parametro 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar o corpo e assunto do e-mail para o Parâmetro 5 (Leads Quentes)": {
      "main": [
        [
          {
            "node": "E-mails enviados parametro 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mails enviados parametro 5": {
      "main": [
        [
          {
            "node": "Gmail parametro 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomear Leads Quentes": {
      "main": [
        [
          {
            "node": "Unir Parametro 5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Criar o corpo e assunto do e-mail para o Parâmetro 5 (Leads Quentes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar coprpo e assunto e-mail Parâmetro 2: Taxa de Conversão dos Atendimentos do Canal Smart (chatbot)": {
      "main": [
        [
          {
            "node": "E-mails enviados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Corpo Consolidado do Email": {
      "main": [
        [
          {
            "node": "E-mails enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mails enviados2": {
      "main": [
        [
          {
            "node": "Gmail parametro 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parâmetro 4: Número de Leads Quentes": {
      "main": [
        [
          {
            "node": "Renomear Leads Quentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Parâmetro 1: Nota Média de Avaliação dos Atendimentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parâmetro 2: Taxa de Conversão dos Atendimentos do Canal Smart (chatbot)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parametro 3 Número de Cards Outbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parâmetro 4: Número de Leads Quentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-05T17:55:27.326Z",
  "id": "8O8uy0fW8H3oQJY0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Relatórios Avaliações 1.1 dev",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const validos = items\n  .map(item => item.json)\n  .filter(i =>\n    i.nota_geral_final !== null &&\n    i.vendedor_responsavel &&\n    i.status_negociacao\n  );\n\nconst agrupado = {};\n\nfor (const item of validos) {\n  const nome = item.vendedor_responsavel.trim().toLowerCase();\n\n  if (!agrupado[nome]) {\n    agrupado[nome] = {\n      colaborador: item.vendedor_responsavel.trim(),\n      notas: [],\n      datas: [],\n      convertidos: [],\n      perdidos: []\n    };\n  }\n\n  agrupado[nome].notas.push(Number(item.nota_geral_final));\n\n  // Aqui convertemos a data para formato brasileiro\n  const dataFormatada = new Date(item.data_criacao_atendimento).toLocaleDateString('pt-BR');\n  agrupado[nome].datas.push(dataFormatada);\n\n  const entrada = {\n    ticket: item.ticket_smart || \"Sem Ticket\",\n    nota: Number(item.nota_geral_final)\n  };\n\n  if (item.status_negociacao.trim().toLowerCase() === \"vendida\") {\n    agrupado[nome].convertidos.push(entrada);\n  } else {\n    agrupado[nome].perdidos.push(entrada);\n  }\n}\n\nconst resultado = [];\n\nfor (const vendedor of Object.values(agrupado)) {\n  const soma = vendedor.notas.reduce((acc, val) => acc + val, 0);\n  const media = soma / vendedor.notas.length;\n\n  if (media < 8) {\n    // Pega última data (ainda no formato brasileiro) e calcula dias sem venda\n    const datasOrdenadas = vendedor.datas.map(d => {\n      const [dia, mes, ano] = d.split('/');\n      return new Date(`${ano}-${mes}-${dia}`);\n    }).sort((a, b) => a - b);\n\n    const ultimaData = datasOrdenadas[datasOrdenadas.length - 1];\n    const hoje = new Date();\n    const diffMs = hoje - ultimaData;\n    const diasSemVenda = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n\n    resultado.push({\n      json: {\n        vendedor_responsavel: vendedor.colaborador,\n        media_percentual: +(media * 10).toFixed(2),\n        datas: vendedor.datas, // já no formato dd/mm/aaaa\n        avaliacoes_convertidas: vendedor.convertidos,\n        avaliacoes_perdidas: vendedor.perdidos,\n        dias_sem_venda: diasSemVenda\n      }\n    });\n  }\n}\n\nreturn resultado;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -220
      ],
      "id": "a5e6755b-db6e-4a81-8d25-fe72ca07d80c",
      "name": "Verificar se tem nota geral1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9006cd91-2a41-4a01-bab3-8f7cc8140c2d",
              "name": "iule pessim",
              "value": "iule.pessim@conexao10.com.br",
              "type": "string"
            },
            {
              "id": "28b30a11-e969-44da-8c93-4459184fd06a",
              "name": "Karina Resende",
              "value": "karina.resende@coipe.com.br",
              "type": "string"
            },
            {
              "id": "36b8cba3-9b12-4911-bf5f-012cb504c2ae",
              "name": "Guilherme Silva",
              "value": "guilherme.silva@top37.com.br",
              "type": "string"
            },
            {
              "id": "03c9f39d-ab54-4ac3-b838-466aa24b595f",
              "name": "assunto_email",
              "value": "={{ $json.assunto_email }}",
              "type": "string"
            },
            {
              "id": "508aff6e-359f-4c2b-b35d-78d784bfa08f",
              "name": "corpo_email",
              "value": "={{ $json.corpo_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -220
      ],
      "id": "bdb586ae-de29-4ec0-80c5-c9f5942650f0",
      "name": "E-mails enviados"
    },
    {
      "parameters": {
        "content": "                          PARAMETRO 1 AVALIAÇÕES MENORES QUE 80%",
        "height": 540,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -40
      ],
      "id": "8e6a4306-80e8-443b-a433-e76ba8372c61",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "                         Parâmetro 1: Nota Média de Avaliação dos Atendimentos",
        "height": 500,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -560
      ],
      "id": "d1856064-2846-421a-a05e-a154a45fd4e1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    vendedor_responsavel,\n    COUNT(*) AS quantidade_atendimentos,\n    DATE_FORMAT(CURDATE() - INTERVAL 7 DAY, '%d/%m/%Y') AS data_inicio,\n    DATE_FORMAT(CURDATE(), '%d/%m/%Y') AS data_fim\nFROM \n    avaliacoes_rdstation\nWHERE \n    fonte IN (\n        'Cliente Top Internet',\n        'Cliente Top Telefonia',\n        'Empresas For. Odontologia',\n        'Lista Telefonia Oliveira',\n        'Listas Venda Ativa'\n    )\n    AND data_criacao_negociacao BETWEEN CURDATE() - INTERVAL 7 DAY AND CURDATE()\nGROUP BY \n    vendedor_responsavel\nHAVING \n    quantidade_atendimentos < 50;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        100,
        620
      ],
      "id": "95d37ace-39f3-4a31-970e-ad17a6cd23b4",
      "name": "Parametro 3 Número de Cards Outbound",
      "credentials": {
        "mySql": {
          "id": "87BXqlS5VOYbU5Ol",
          "name": "MySQL Pitágoras"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  DATE_FORMAT(CURDATE() - INTERVAL 7 DAY, '%d/%m/%Y') AS data_inicio_br,\n  DATE_FORMAT(CURDATE(), '%d/%m/%Y') AS data_fim_br,\n\n  LOWER(TRIM(vendedor_responsavel)) AS vendedor_responsavel,\n\n  COUNT(DISTINCT id_negociacao) AS total_atendimentos,\n\n  COUNT(DISTINCT CASE \n    WHEN LOWER(TRIM(COALESCE(status_negociacao, ''))) = 'vendida'\n    THEN id_negociacao \n  END) AS atendimentos_vendidos,\n\n  ROUND(\n    100.0 * COUNT(DISTINCT CASE \n      WHEN LOWER(TRIM(COALESCE(status_negociacao, ''))) = 'vendida' \n      THEN id_negociacao \n    END) / COUNT(DISTINCT id_negociacao), \n    2\n  ) AS taxa_conversao_percentual,\n\n  GROUP_CONCAT(DISTINCT CASE \n    WHEN LOWER(TRIM(COALESCE(status_negociacao, ''))) = 'vendida' \n    THEN ticket_smart \n    ELSE NULL \n  END SEPARATOR ', ') AS tickets_vendidos,\n\n  GROUP_CONCAT(DISTINCT CASE \n    WHEN LOWER(TRIM(COALESCE(status_negociacao, ''))) = 'em andamento' \n    THEN ticket_smart \n    ELSE NULL \n  END SEPARATOR ', ') AS tickets_andamento,\n\n  GROUP_CONCAT(DISTINCT CASE \n    WHEN LOWER(TRIM(COALESCE(status_negociacao, ''))) = 'perdida' \n    THEN ticket_smart \n    ELSE NULL \n  END SEPARATOR ', ') AS tickets_perdidos\n\nFROM \n  avaliacoes_rdstation\n\nWHERE \n  data_criacao_negociacao BETWEEN CURDATE() - INTERVAL 7 DAY \n  AND CURDATE()\n\n  AND LOWER(TRIM(COALESCE(fonte, ''))) = 'smart'\n\n  AND TRIM(COALESCE(motivo_perda, '')) NOT IN (\n    'Duplicado (Já tem card criado no CRM)',\n    'Informações/Administrativo',\n    'Disponibilidade',\n    'Não atendemos a cidade do cliente',\n    'Já é cliente Top',\n    'Erro',\n    'Fornecedor de Serviços'\n  )\n\nGROUP BY \n  LOWER(TRIM(vendedor_responsavel))\n\nORDER BY \n  total_atendimentos DESC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        120,
        80
      ],
      "id": "d67076e0-4042-461b-9749-af9d7a743641",
      "name": "Parâmetro 2: Taxa de Conversão dos Atendimentos do Canal Smart (chatbot)",
      "credentials": {
        "mySql": {
          "id": "87BXqlS5VOYbU5Ol",
          "name": "MySQL Pitágoras"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  DATE_FORMAT(CURDATE() - INTERVAL 7 DAY, '%d/%m/%Y') AS data_inicio_br,\n  DATE_FORMAT(CURDATE(), '%d/%m/%Y') AS data_fim_br,\n  \n  ticket_smart,\n  vendedor_responsavel,\n  nota_geral_final,\n  data_criacao_atendimento,\n  status_negociacao\n\nFROM \n  avaliacoes_rdstation\nWHERE \n  data_criacao_atendimento BETWEEN CURDATE() - INTERVAL 7 DAY \n  AND CURDATE();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        40,
        -480
      ],
      "id": "50bcda3f-6cf2-43c7-b48a-7cd0b698b798",
      "name": "Parâmetro 1: Nota Média de Avaliação dos Atendimentos",
      "credentials": {
        "mySql": {
          "id": "87BXqlS5VOYbU5Ol",
          "name": "MySQL Pitágoras"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "vendedor_responsavel",
        "joinMode": "keepEverything",
        "options": {
          "multipleMatches": "all"
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        460
      ],
      "id": "169219be-539c-4389-848c-efb8e2fc606a",
      "name": "Unir Parametro 2 e 3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        480
      ],
      "id": "7783b868-b837-4f75-a371-9d4676e50d4d",
      "name": "Unir Parametro 5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "vendedor_responsavel",
        "options": {
          "multipleMatches": "all"
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1460,
        460
      ],
      "id": "aa64567f-b3b7-47ec-a06c-3c4e270ea10f",
      "name": "Combina todos os Parametros"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "861f7e98-8ec7-4290-9e05-399b014e1f01",
              "name": "vendedor_responsavel",
              "value": "={{ $json.vendedor_responsavel.toLowerCase().trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -480
      ],
      "id": "d51de82d-df1a-4044-8cae-0d9d589a1702",
      "name": "Normaliar Nome Vendedor Avaliação"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "861f7e98-8ec7-4290-9e05-399b014e1f01",
              "name": "vendedor_responsavel",
              "value": "={{ $json.vendedor_responsavel.toLowerCase().trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        80
      ],
      "id": "b8656519-bc7a-467a-9ca3-074c965cda01",
      "name": "Normaliar Nome Conversão"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "861f7e98-8ec7-4290-9e05-399b014e1f01",
              "name": "vendedor_responsavel",
              "value": "={{ $json.vendedor_responsavel.toLowerCase().trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        620
      ],
      "id": "68d797b0-f370-4b33-b9e4-2ede84d4e18e",
      "name": "Normaliar Nome Vendedor Leads Quentes"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "avaliacoes_analise_semanal",
          "mode": "list",
          "cachedResultName": "avaliacoes_analise_semanal"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "vendedor_responsavel",
        "valueToMatchOn": "={{ $json.vendedor_responsavel }}",
        "valuesToSend": {
          "values": [
            {
              "column": "media_percentual",
              "value": "={{ $json.media_percentual }}"
            },
            {
              "column": "datas",
              "value": "={{ JSON.stringify($json.datas) }}"
            },
            {
              "column": "avaliacoes_raw",
              "value": "={{ JSON.stringify($json.avaliacoes_convertidas) }}"
            },
            {
              "column": "dias_sem_venda",
              "value": "={{ $json.dias_sem_venda }}"
            },
            {
              "column": "data_inicio",
              "value": "={{ $json.data_inicio }}"
            },
            {
              "column": "data_fim",
              "value": "={{ $json.data_fim }}"
            },
            {
              "column": "total_atendimentos",
              "value": "={{ $json.total_atendimentos }}"
            },
            {
              "column": "atendimentos_vendidos",
              "value": "={{ $json.atendimentos_vendidos }}"
            },
            {
              "column": "taxa_conversao_percentual",
              "value": "={{ $json.taxa_conversao_percentual }}"
            },
            {
              "column": "tickets_vendidos",
              "value": "={{ $json.tickets_vendidos }}"
            },
            {
              "column": "tickets_andamento",
              "value": "={{ $json.tickets_andamento }}"
            },
            {
              "column": "tickets_perdidos",
              "value": "={{ $json.tickets_perdidos }}"
            },
            {
              "column": "quantidade_atendimentos",
              "value": "={{ $json.quantidade_atendimentos }}"
            },
            {
              "column": "leads_quentes_total",
              "value": "={{ $json.leads_quentes_total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1740,
        460
      ],
      "id": "d15de3bf-43b6-4852-8394-1d46c5dfe9a4",
      "name": "MySQL2",
      "credentials": {
        "mySql": {
          "id": "87BXqlS5VOYbU5Ol",
          "name": "MySQL Pitágoras"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const dados = items.map(item => item.json);\nconst dataInicio = dados[0].data_inicio;\nconst dataFim = dados[0].data_fim;\n\nlet corpoEmail = `📅 <strong>Relatório de Cards Outbound:</strong> ${dataInicio} a ${dataFim}<br><br>`;\n\ndados.forEach((item, index) => {\n  corpoEmail += `🚨 <strong>Colaborador:</strong> ${item.vendedor_responsavel}<br>`;\n  corpoEmail += `📊 Cards criados Outbound: <strong>${item.quantidade_atendimentos}</strong><br><br>`;\n  if (index !== dados.length - 1) {\n    corpoEmail += `<hr><br>`;\n  }\n});\n\nconst assunto = `🚨 Alerta Setor Vendas - Cards Outbound abaixo do ideal (${dataInicio} a ${dataFim})`;\n\nreturn [\n  {\n    json: {\n      assunto_email: assunto,\n      corpo_email: corpoEmail\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        860
      ],
      "id": "e8281292-632d-4bcc-b590-00291ddad2df",
      "name": "Criar o corpo e assunto do e-mail para o Parâmetro 3 (Cards Outbound)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9006cd91-2a41-4a01-bab3-8f7cc8140c2d",
              "name": "iule pessim",
              "value": "iule.pessim@conexao10.com.br",
              "type": "string"
            },
            {
              "id": "28b30a11-e969-44da-8c93-4459184fd06a",
              "name": "Karina Resende",
              "value": "karina.resende@coipe.com.br",
              "type": "string"
            },
            {
              "id": "36b8cba3-9b12-4911-bf5f-012cb504c2ae",
              "name": "Guilherme Silva",
              "value": "guilherme.silva@top37.com.br",
              "type": "string"
            },
            {
              "id": "03c9f39d-ab54-4ac3-b838-466aa24b595f",
              "name": "assunto_email",
              "value": "={{ $json.assunto_email }}",
              "type": "string"
            },
            {
              "id": "508aff6e-359f-4c2b-b35d-78d784bfa08f",
              "name": "corpo_email",
              "value": "={{ $json.corpo_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        860
      ],
      "id": "895c46bd-18e3-4c70-b07d-8183f40d5592",
      "name": "E-mails enviados parametro 3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"iule pessim\"] }}, {{ $json[\"Karina Resende\"] }}, {{ $json[\"Guilherme Silva\"] }}",
        "subject": "={{ $json.assunto_email }}",
        "message": "={{ $json.corpo_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        860
      ],
      "id": "33f5c8f6-6bc4-4cf7-9050-58ad3e41c5b3",
      "name": "Gmail parametro 3",
      "webhookId": "05b90360-a3ac-4010-ba5f-a479aa79874b",
      "credentials": {
        "gmailOAuth2": {
          "id": "oK9JNhCN0eGhfpk9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"iule pessim\"] }}, {{ $json[\"Karina Resende\"] }}, {{ $json[\"Guilherme Silva\"] }}",
        "subject": "={{ $json.assunto_email }}",
        "message": "={{ $json.corpo_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        -420
      ],
      "id": "2035984d-aa8a-4f42-9439-4427043aff08",
      "name": "Gmail parametro 1",
      "webhookId": "05b90360-a3ac-4010-ba5f-a479aa79874b",
      "credentials": {
        "gmailOAuth2": {
          "id": "oK9JNhCN0eGhfpk9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"iule pessim\"] }}, {{ $json[\"Karina Resende\"] }}, {{ $json[\"Guilherme Silva\"] }}",
        "subject": "={{ $json.assunto_email }}",
        "message": "={{ $json.corpo_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        320
      ],
      "id": "30d1eb62-6297-4a7d-a10c-9a949707d27e",
      "name": "Gmail parametro 2",
      "webhookId": "411795fa-a34e-48df-8cee-7f93e62188c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "oK9JNhCN0eGhfpk9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hoje = new Date();\nconst inicioSemana = new Date(hoje);\ninicioSemana.setDate(hoje.getDate() - 7);\n\n// 🟢 Formata no estilo brasileiro (dd/mm/aaaa)\nconst dataInicio = inicioSemana.toLocaleDateString('pt-BR');\nconst dataFim = hoje.toLocaleDateString('pt-BR');\n\nconst leads = items[0].json.leads_quentes_total;\nconst vendidos = items[0].json.quantidade_vendidas;\nconst perdidos = items[0].json.quantidade_perdidas;\n\nconst corpo = `\n📅 <strong>Relatório Setor Vendas - Leads Quentes - Período: ${dataInicio} a ${dataFim}</strong><br><br>\n🔥 Leads gerados via Canal Smart: <strong>${leads}</strong><br>\n🟢 Leads Convertidos (Vendidos): <strong>${vendidos}</strong><br>\n🔴 Leads Perdidos: <strong>${perdidos}</strong><br><br>\n<i>This email was sent automatically with n8n</i><br>\n<a href=\"https://n8n.io\">https://n8n.io</a>`;\n\nconst assunto = `🔥 Relatório Semanal - Leads Quentes (${dataInicio} a ${dataFim})`;\n\nreturn [{\n  json: {\n    assunto_email: assunto,\n    corpo_email: corpo\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        1420
      ],
      "id": "1db03a59-9c8e-497d-865f-dec4c34435e2",
      "name": "Criar o corpo e assunto do e-mail para o Parâmetro 5 (Leads Quentes)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9006cd91-2a41-4a01-bab3-8f7cc8140c2d",
              "name": "Karina Resende",
              "value": "karina.resende@coipe.com.br",
              "type": "string"
            },
            {
              "id": "4b5a25d4-e964-475d-b20a-a01193a4175e",
              "name": "Guilherme Silva",
              "value": "guilherme.silva@top37.com.br",
              "type": "string"
            },
            {
              "id": "5c672f8d-8ced-404f-8542-b572f1976f52",
              "name": "iule pessim",
              "value": "iule.pessim@conexao10.com.br",
              "type": "string"
            },
            {
              "id": "03c9f39d-ab54-4ac3-b838-466aa24b595f",
              "name": "assunto_email",
              "value": "={{ $json.assunto_email }}",
              "type": "string"
            },
            {
              "id": "508aff6e-359f-4c2b-b35d-78d784bfa08f",
              "name": "corpo_email",
              "value": "={{ $json.corpo_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1420
      ],
      "id": "3bd1824d-0f4f-40bf-821b-efcf8cf88e3d",
      "name": "E-mails enviados parametro 5"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Karina Resende\"] }}, {{ $json[\"Guilherme Silva\"] }}, {{ $json[\"iule pessim\"] }} ",
        "subject": "={{ $json.assunto_email }}",
        "message": "={{ $json.corpo_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        1420
      ],
      "id": "f6f2d524-66d3-487e-88eb-4b970993e64d",
      "name": "Gmail parametro 5",
      "webhookId": "05b90360-a3ac-4010-ba5f-a479aa79874b",
      "credentials": {
        "gmailOAuth2": {
          "id": "oK9JNhCN0eGhfpk9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59c7d3c0-7f60-48f8-8458-916dc396cc65",
              "name": "leads_quentes_total",
              "value": "={{ $json.quantidade_atendimentos }}",
              "type": "number"
            },
            {
              "id": "c9f73212-8d9c-4b7c-a5ef-9a391857975f",
              "name": "quantidade_vendidas",
              "value": "={{ $json.quantidade_vendidas }}",
              "type": "string"
            },
            {
              "id": "0781784e-06d0-4189-892c-0c2833b387bc",
              "name": "quantidade_perdidas",
              "value": "={{ $json.quantidade_perdidas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        1180
      ],
      "id": "759588b5-6056-4c7c-816a-e5ff20030172",
      "name": "Renomear Leads Quentes"
    },
    {
      "parameters": {
        "jsCode": "// Este código deve ser colocado em um nó \"Function\" após o nó SQL\n\n// Pega as datas do primeiro item retornado\nconst dadosPrimeiro = items[0].json;\nconst dataInicio = dadosPrimeiro.data_inicio_br;\nconst dataFim = dadosPrimeiro.data_fim_br;\n\n// Cabeçalho com período analisado\nlet corpo = `📅 <strong>Relatório de Conversão:</strong> ${dataInicio} a ${dataFim}<br><br>`;\n\n// Loop pelos vendedores\nitems.forEach(item => {\n  const dados = item.json;\n\n  corpo += `🚨 <strong>Desempenho – ${dados.vendedor_responsavel?.toUpperCase()}</strong><br><br>`;\n  corpo += `📊 Total de Atendimentos: <strong>${dados.total_atendimentos}</strong><br>`;\n  corpo += `✅ Vendas: <strong>${dados.atendimentos_vendidos}</strong><br>`;\n  corpo += `📈 Conversão: <strong>${dados.taxa_conversao_percentual}%</strong><br><br>`;\n\n  corpo += `🟢 <strong>Tickets Vendidos:</strong><br>${dados.tickets_vendidos || 'Nenhum'}<br><br>`;\n  corpo += `🟡 <strong>Em Andamento:</strong><br>${dados.tickets_andamento || 'Nenhum'}<br><br>`;\n  corpo += `🔴 <strong>Perdidos:</strong><br>${dados.tickets_perdidos || 'Nenhum'}<br><br>`;\n\n  corpo += '<hr>';\n});\n\nconst inicioSemana = new Date(); // replace with the correct initialization logic\nconst hoje = new Date(); // ensure 'hoje' is also defined\n\nconst dataInicioAssunto = inicioSemana.toLocaleDateString('pt-BR');\nconst dataFimAssunto = hoje.toLocaleDateString('pt-BR');\n\nconst assunto = `🚨 Alerta Setor Vendas - Taxa de Conversão Atendimentos Smart (${dataInicio} a ${dataFim})`;\n// Retorna corpo final formatado em HTML\nreturn [{\n  json: {\n    assunto_email: assunto,\n    corpo_email: corpo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ],
      "id": "f03a3cbf-6184-4822-9a42-4b883a1602df",
      "name": "Criar coprpo e assunto e-mail Parâmetro 2: Taxa de Conversão dos Atendimentos do Canal Smart (chatbot)"
    },
    {
      "parameters": {
        "jsCode": "const hoje = new Date();\nconst inicioSemana = new Date(hoje);\ninicioSemana.setDate(hoje.getDate() - 7);\n\nconst dataInicioAssunto = inicioSemana.toLocaleDateString('pt-BR');\nconst dataFimAssunto = hoje.toLocaleDateString('pt-BR');\n\nconst colaboradores = items.map(item => item.json);\n\nlet corpoEmail = `📅 <strong>Relatório de Avaliação:</strong> ${dataInicioAssunto} a ${dataFimAssunto}<br><br>`;\n\nfor (const colab of colaboradores) {\n  const datasOrdenadas = colab.datas.sort();\n  const dataInicio = datasOrdenadas[0];\n  const dataFim = datasOrdenadas[datasOrdenadas.length - 1];\n\n  corpoEmail += `🚨 <strong>Colaborador:</strong> ${colab.vendedor_responsavel}<br>`;\n  corpoEmail += `📌 Período analisado: ${dataInicio} a ${dataFim}<br>`;\n  corpoEmail += `📊 Nota média semanal: <strong>${colab.media_percentual}%</strong><br>`;\n  corpoEmail += `⏱️ Dias sem fechar venda: <strong>${colab.dias_sem_venda}</strong> dia(s)<br>`;\n  corpoEmail += `📝 Avaliações:<br><br>`;\n\n  corpoEmail += `🟢 <strong>Tickets Convertidos:</strong><br>`;\n  for (const av of colab.avaliacoes_convertidas) {\n    corpoEmail += `• Ticket #${av.ticket} — Nota: ${av.nota}<br>`;\n  }\n\n  corpoEmail += `<br>🔴 <strong>Tickets Perdidos:</strong><br>`;\n  for (const av of colab.avaliacoes_perdidas) {\n    corpoEmail += `• Ticket #${av.ticket} — Nota: ${av.nota}<br>`;\n  }\n\n  corpoEmail += `<br>🚩 <strong>Observação:</strong><br>Média abaixo da meta (80%). Reforço necessário.<br><br><hr><br>`;\n}\n\ncorpoEmail += `<i>This email was sent automatically with n8n</i><br><a href=\"https://n8n.io\">https://n8n.io</a>`;\n\nconst assunto = `🚨 Alerta Setor Vendas - Nota Média de Avaliação dos Atendimentos (${dataInicioAssunto} a ${dataFimAssunto})`;\n\nreturn [{\n  json: {\n    assunto_email: assunto,\n    corpo_email: corpoEmail\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        -220
      ],
      "id": "4922dddf-f721-4a19-b898-e564318e738d",
      "name": "Gerar Corpo Consolidado do Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9006cd91-2a41-4a01-bab3-8f7cc8140c2d",
              "name": "iule pessim",
              "value": "iule.pessim@conexao10.com.br",
              "type": "string"
            },
            {
              "id": "28b30a11-e969-44da-8c93-4459184fd06a",
              "name": "Karina Resende",
              "value": "karina.resende@coipe.com.br",
              "type": "string"
            },
            {
              "id": "36b8cba3-9b12-4911-bf5f-012cb504c2ae",
              "name": "Guilherme Silva",
              "value": "guilherme.silva@top37.com.br",
              "type": "string"
            },
            {
              "id": "03c9f39d-ab54-4ac3-b838-466aa24b595f",
              "name": "assunto_email",
              "value": "={{ $json.assunto_email }}",
              "type": "string"
            },
            {
              "id": "508aff6e-359f-4c2b-b35d-78d784bfa08f",
              "name": "corpo_email",
              "value": "={{ $json.corpo_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        320
      ],
      "id": "bb67e74d-7fa4-4973-980d-ef5ebaa35c5b",
      "name": "E-mails enviados2"
    },
    {
      "parameters": {
        "content": "                         Parametro 3 Número de Cards Outbound",
        "height": 540,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        520
      ],
      "id": "f5bc781d-52fa-4474-a2e3-ccbffc5ca72f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "                       Organizar Dados para Cadastro no Banco",
        "height": 380,
        "width": 860,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        340
      ],
      "id": "e776c5fd-c3c4-4b4b-bc9d-75b15a3d2ec7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "        Cadastro SQL",
        "height": 380,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1640,
        340
      ],
      "id": "5a7a7bb0-d87d-40e1-a875-0611ffa602fd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "               Parâmetro 4: Número de Leads Quentes",
        "height": 520,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        1080
      ],
      "id": "74ae89c0-6535-40e7-b296-0b13b4f48d87",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) AS quantidade_atendimentos,\n  SUM(CASE WHEN status_negociacao = 'Vendida' THEN 1 ELSE 0 END) AS quantidade_vendidas,\n  SUM(CASE WHEN status_negociacao = 'Perdida' THEN 1 ELSE 0 END) AS quantidade_perdidas,\n  DATE_FORMAT(CURDATE() - INTERVAL 7 DAY, '%d/%m/%Y') AS data_inicio,\n  DATE_FORMAT(CURDATE(), '%d/%m/%Y') AS data_fim\nFROM \n  avaliacoes_rdstation\nWHERE \n  data_criacao_negociacao BETWEEN CURDATE() - INTERVAL 7 DAY \n  AND CURDATE()\n  AND LOWER(TRIM(COALESCE(fonte, ''))) = 'smart'\n  AND TRIM(COALESCE(motivo_perda, '')) NOT IN (\n    'Duplicado (Já tem card criado no CRM)',\n    'Informações/Administrativo',\n    'Disponibilidade',\n    'Não atendemos a cidade do cliente',\n    'Já é cliente Top',\n    'Erro',\n    'Fornecedor de Serviços'\n  );\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        1180
      ],
      "id": "554a88e0-030f-4d80-88a6-727224933895",
      "name": "Parâmetro 4: Número de Leads Quentes",
      "credentials": {
        "mySql": {
          "id": "87BXqlS5VOYbU5Ol",
          "name": "MySQL Pitágoras"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        500
      ],
      "id": "9548b123-5d62-46bd-abd6-14230e275b18",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-05T17:55:27.329Z",
      "updatedAt": "2025-04-05T17:55:27.329Z",
      "role": "workflow:owner",
      "workflowId": "8O8uy0fW8H3oQJY0",
      "projectId": "dY2miQ2UZgdnyejD",
      "project": {
        "createdAt": "2025-01-30T22:17:08.366Z",
        "updatedAt": "2025-04-02T18:43:11.000Z",
        "id": "dY2miQ2UZgdnyejD",
        "name": "Top Tecnologia",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "💻"
        },
        "projectRelations": [
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "91820e4a-9670-4824-b90f-14b14a02aa1d",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-01-30T19:36:47.780Z",
              "updatedAt": "2025-03-07T23:09:44.000Z",
              "id": "91820e4a-9670-4824-b90f-14b14a02aa1d",
              "email": "iulepessim@gmail.com",
              "firstName": "iule",
              "lastName": "pessim camargos de Sousa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "bwpRhDoLECc18i3c",
                "userActivatedAt": 1738278915867,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739280763867
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          },
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "ea1145d5-0602-4c13-9fcb-a04d2a460919",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-02-11T13:34:38.772Z",
              "updatedAt": "2025-02-11T13:45:55.104Z",
              "id": "ea1145d5-0602-4c13-9fcb-a04d2a460919",
              "email": "amarildo@gmail.com",
              "firstName": "Amarildo",
              "lastName": "Magalhaes",
              "personalizationAnswers": null,
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "794f710b-97b9-4a1a-8b5a-f068fec384fd",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-02-11T13:34:27.805Z",
              "updatedAt": "2025-03-20T20:04:04.230Z",
              "id": "794f710b-97b9-4a1a-8b5a-f068fec384fd",
              "email": "karina.resende@coipe.com.br",
              "firstName": "Karina",
              "lastName": "Resende",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "8ebd36cc-c449-45f4-97c7-77db1d54d539",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-03-19T18:45:32.679Z",
              "updatedAt": "2025-03-26T21:39:46.000Z",
              "id": "8ebd36cc-c449-45f4-97c7-77db1d54d539",
              "email": "alex.lima@coipe.com.br",
              "firstName": "Alex",
              "lastName": "Lima",
              "personalizationAnswers": null,
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "589cd83e-fe0c-4d02-b1b6-3fb8ff21e189",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-03-28T12:26:25.821Z",
              "updatedAt": "2025-03-28T17:53:46.789Z",
              "id": "589cd83e-fe0c-4d02-b1b6-3fb8ff21e189",
              "email": "guilherme.silva@top37.com.br",
              "firstName": "Guilherme",
              "lastName": "Augusto",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "29c4abbe-5e1f-4a4f-b68d-77941b9ac278",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-03-07T12:46:39.550Z",
              "updatedAt": "2025-03-14T19:18:00.908Z",
              "id": "29c4abbe-5e1f-4a4f-b68d-77941b9ac278",
              "email": "guilherme.cardoso@top37.com.br",
              "firstName": "Guilherme",
              "lastName": "Cardoso",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-04-02T18:43:11.394Z",
            "updatedAt": "2025-04-02T18:43:11.394Z",
            "role": "project:admin",
            "userId": "4e99b66d-f72b-4825-9fff-c82965c9b032",
            "projectId": "dY2miQ2UZgdnyejD",
            "user": {
              "createdAt": "2025-04-02T18:34:21.974Z",
              "updatedAt": "2025-04-02T18:34:48.489Z",
              "id": "4e99b66d-f72b-4825-9fff-c82965c9b032",
              "email": "alberto.cabral@top37.com.br",
              "firstName": "Alberto",
              "lastName": "Junior",
              "personalizationAnswers": null,
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        99
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-10T01:29:50.000Z",
  "versionId": "0fa71dde-6a51-4d3d-a475-dfdd41886edf"
}